<div class="blogPost">
    {{#each comments}}
        <div class="comment">
            <p>{{comment_body}}</p>
        </div>
    {{/each}}
</div>
<div class="navbar navbar-default navbar-fixed-bottom">
    <a href="/logout" id="logButton" href="#" class="btn btn-default btn-lg">Log Out</a>
</div>
