<div class="blogPost">

    {{#each posts}}
        <div class="post">
            <h5>{{title}}</h5>
            <h6>{{body}}</h6>
            <p>by Capt. {{username}} on {{postDate}}</p>
        </div>

    {{/each}}
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
    <a href="/logout" id="logButton" href="#" class="btn btn-default btn-lg">Log Out</a>
</div>
