body {
    background: url(../images/star-trek-logo-desktop-background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-fixed-top {
    display: flex;
    justify-content:center;
}

#logButton {
    display: flex;
    align-items: center;
    justify-content:center;
}

.userGreeting {
    padding-top: 100px;
    padding-left: 50px;
}

.blogPost {
    background-image: none;
    padding: 50px;
}

.post {
    padding: 20px 0 20px 0px;
}

.comment {
    padding: 30px 200px 0 20px;
    color: white;
}

.bottom-align-text {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.chatbox {
    height: 180px;
    overflow: scroll;
}

.modalPosition {
    top:10%;
    /*right:50%;*/
    /*outline: none;*/
}
