body {
    background-size:contain;
    background-position:top;
    background-repeat: no-repeat;
    background-image: url('../images/star-trek-logo-desktop-background.png');
}

.navbar-fixed-top {
    display: flex;
    justify-content:center;
}

#logButton {
    display: flex;
    align-items: center;
    justify-content:center;
}

.userGreeting {
    padding-top: 100px;
    padding-left: 50px;
}

.blogPost {
    padding: 50px;
}

.post {
    padding-top: 20px;
    padding-left: 20px;
}
