body {
    background: url(../images/star-trek-logo-desktop-background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-fixed-top {
    display: flex;
    justify-content:center;
}

#logButton {
    display: flex;
    align-items: center;
    justify-content:center;
}

.userGreeting {
    padding-top: 100px;
    padding-left: 50px;
}

.blogPost {
    background-image: none;
    padding: 50px;
}

.post {
    padding: 20 0 20 20px;
}

.postBody {
    color: white;
}

.comment {
    /*padding-top: 20px;
    padding-left: 20px;*/
    padding: 30px 200px 0 20px;
    color: white;
}

#postWithComments {
    padding-top: 20px;
}
